<h2>Basic Character Facts</h2>
<p class="explainer">
    Name your character!
</p>

<div class="row display-row">
    <div class="col-md-3">Name</div>
    <div class="col-md-9">
        <input class="form-control" type="text" ng-model="character.name">
    </div>
</div>

<div class="row display-row">
    <div class="col-md-3">Age - minimum {{ character.calculateMinimumAge() }} </div>
    <div class="col-md-9">
        <input class="form-control"
               type="number"
               ng-model="character.age"
               min="character.calculateMinimumAge()">
    </div>
    <p ng-if="(character.race !== undefined && character.age !== undefined)">
        This age makes your character {{ character.calculateAgeRange() }}
    </p>
</div>

<div class="row display-row margin-top-15">
    <div class="col-md-3">Description</div>
    <div class="col-md-9">
        <textarea class="form-control" ng-model="character.description" rows="3">
    </div>
</div>
