<h2>Careers</h2>
<p class="explainer">
   Choose four careers
    <div ng-if="atMaxCareers()">Your additional careers cost {{ calculateCareerXpCost() }} XP.</div>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Career</th>
        <th>Count</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Description</th>
        <th>Exploits</th>
        <th>Years</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(name, count) in character[KEY]">
            <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name)">-</button></td>
            <td>{{ name }}</td>
            <td>{{ count }}</td>
            <td>{{ printAttributes(careerHash[name].Attributes) }}</td>
            <td>{{ careerHash[name]['Skill Choices'] }}</td>
            <td>{{ careerHash[name].Description }}</td>
            <td>{{ careerHash[name].Exploits }}</td>
            <td>{{ careerHash[name].Years }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Career</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Description</th>
        <th>Exploits</th>
        <th>Years</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in careers">
            <td><button type="button" class="btn btn-primary" ng-click="incrementItem(KEY, c.Career, 1)">+</button></td>
            <td>{{ c.Career }}</td>
            <td>{{ printAttributes(c.Attributes) }}</td>
            <td>{{ c['Skill Choices'] }}</td>
            <td>{{ c.Description }}</td>
            <td>{{ c.Exploits }}</td>
            <td>{{ c.Years }}</td>
        </tr>
    </tbody>
</table>
