<h2>Careers</h2>
<p class="explainer">
   Choose four careers
    <div ng-if="atMaxCareers()">Your additional careers cost {{ calculateCareerXpCost() }} XP.</div>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Career</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Description</th>
        <th>Exploit</th>
        <th>Years</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="careerObj in careerExploits">
            <td><button type="button" class="btn btn-primary" ng-click="removeCareer(name, careerObj.exploit)">-</button></td>
            <td>{{ careerObj.career }}</td>
            <td>{{ printAttributes(careerHash[careerObj.career].Attributes) }}</td>
            <td>{{ careerHash[careerObj.career]['Skill Choices'] }}</td>
            <td>{{ careerHash[careerObj.career].Description }}</td>
            <td>{{ careerObj.exploit }}</td>
            <td>{{ careerHash[careerObj.career].Years }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Career</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Description</th>
        <th>Exploits</th>
        <th>Years</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in careers">
            <td><button type="button" class="btn btn-primary" ng-disabled="!c._currentExploit" ng-click="chooseCareer(c)">+</button></td>
            <td>{{ c.Career }}</td>
            <td>{{ printAttributes(c.Attributes) }}</td>
            <td>{{ c['Skill Choices'] }}</td>
            <td>{{ c.Description }}</td>
            <td width="20%">
                <select class="form-control" ng-model="c._currentExploit" ng-options="exploit for exploit in exploitsFilteredRequirements(c)"></select>
            </td>
            <td>{{ c.Years }}</td>
        </tr>
    </tbody>
</table>
