<h2>Careers</h2>
<p class="explainer">
   Choose four careers
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Career</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Description</th>
        <th>Exploits</th>
        <th>Years</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in character.careers">
            <td><button type="button" class="btn btn-primary" ng-click="removeItem(c)">-</button></td>
            <td>{{ c.Career }}</td>
            <td>{{ printAttributes(c.Attributes) }}</td>
            <td>{{ c['Skill Choices'] }}</td>
            <td>{{ c.Description }}</td>
            <td>{{ c.Exploits }}</td>
            <td>{{ c.Years }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Career</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Description</th>
        <th>Exploits</th>
        <th>Years</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="c in localCareers">
            <td><button type="button" class="btn btn-primary" ng-click="addItem(c)">+</button></td>
            <td>{{ c.Career }}</td>
            <td>{{ printAttributes(c.Attributes) }}</td>
            <td>{{ c['Skill Choices'] }}</td>
            <td>{{ c.Description }}</td>
            <td>{{ c.Exploits }}</td>
            <td>{{ c.Years }}</td>
        </tr>
    </tbody>
</table>
