<div class="row">
    <div class="col-md-8">
        <table cols="17" frame="void" rules="none" border="0" cellspacing="0">
            <colgroup>
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="96">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
            </colgroup>
            <tbody>
            <tr>
                <td colspan="17" height="24" align="left" bgcolor="#dddddd" width="1467">
                    <b>
                        <font size="4">
                            {{ character.name }}
                        </font>
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <em>
                       A {{ character.hook }}
                    </em><br/>
                    <em>
                        <!-- what is this? -->
                        Small sentient humanoid (grade 5; max dice pool 5d6)
                    </em><br/>
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">STR</span> {{ getStatForCharacter('STR') }} ({{ getDiceForCharacter('STR') }})
                    <span style="font-weight: bold;">AGI</span> {{ getStatForCharacter('AGI') }} ({{ getDiceForCharacter('AGI') }})
                    <span style="font-weight: bold;">END</span> {{ getStatForCharacter('END') }} ({{ getDiceForCharacter('END') }})
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">INT</span> {{ getStatForCharacter('INT') }} ({{ getDiceForCharacter('INT') }})
                    <span style="font-weight: bold;">LOG</span> {{ getStatForCharacter('LOG') }} ({{ getDiceForCharacter('LOG') }})
                    <span style="font-weight: bold;">WIL</span> {{ getStatForCharacter('WIL') }} ({{ getDiceForCharacter('WIL') }})
                    <span style="font-weight: bold;">CHA</span> {{ getStatForCharacter('CHA') }} ({{ getDiceForCharacter('CHA') }})
                    <span style="font-weight: bold;">LUC</span> {{ getStatForCharacter('LUC') }} ({{ getDiceForCharacter('LUC') }})
                    <span style="font-weight: bold;">REP</span> {{ getStatForCharacter('REP') }} ({{ getDiceForCharacter('REP') }})
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd"><span
                        style="font-weight: bold;">HEALTH</span> {{ character.derived.health }} <br
                       >
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">MELEE DEFENSE</span>  {{ calculateDefense('MELEE') }}
                    <span style="font-weight: bold;">RANGED DEFENSE</span>  {{ calculateDefense('RANGED') }}
                    <span style="font-weight: bold;">MENTAL DEFENSE</span>  {{ calculateDefense('MENTAL') }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">SOAK</span>  {{ getSOAK() }}
                    <span style="font-weight: bold;">VULN</span>   {{ getVULN() }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">INITIATIVE</span> {{ getDiceForCharacter(['INT', 'INT']) }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">PERCEPTION</span>  {{ calculatePerception() }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">SPEED</span>  {{ calculateSpeed() }} <span
                        style="font-weight: bold;">CLIMB</span> {{ calculateClimb() }} <span
                        style="font-weight: bold;">JUMP</span> {{ calculateJump() }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">CARRY</span>  {{ calculateCarry() }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">ACTIONS</span>  {{ calculateActions() }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">NATURAL DAMAGE</span>  {{ calculateNaturalDamage() }}
                </td>
            </tr>
            <tr ng-repeat="w in character.equipment.weapons">
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold; font-style: italic;"> {{ w.name }}</span>
                    {{ w.damage }}
                    5d6 (1d6+2 slashing damage)
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">Skills</span>
                    <span ng-repeat="s in character.skills" style="font-style: italic;">
                        <em>{{ s.name }}</em> ( {{ s.dicePool() }} ),
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">Gear</span>
                    <ul ng-repeat="e in character.printEquipment()">
                        <li>{{ e }}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" >
                    <span style="font-weight: bold;">EXPLOITS</span><br/>
                    <span ng-repeat="e in character.exploits">
                        <strong>{{ e.Exploit }}.</strong> {{ e.Benefits }}<br/>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
       
        <div class="well">
            <p>{{ character.description }}</p>
            <p><strong>Careers. </strong>{{ printCareers() }} <strong>Age </strong>{{ character.age }} ({{ character.calculateAgeRange()}})</p>
            <p style="color:red;" ng-if="character.age < character.minimumAge">
                Overrode minimum age dice rolls.
            </p>
        </div>
    </div>

</div>
