<div class="row">
    <div class="col-md-8">
        <table cols="17" frame="void" rules="none" border="0" cellspacing="0">
            <colgroup>
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="96">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
                <col width="86">
            </colgroup>
            <tbody>
            <tr>
                <td colspan="17" height="24" align="left" bgcolor="#dddddd" width="1467">
                    <b>
                        <font size="4">
                            {{ character.name }}
                        </font>
                    </b>
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">A
                    <em>
                       {{ character.hook }}
                    </em><br/>
                    <em>
                        <!-- what is this? -->
                        Small sentient humanoid (grade 5; max dice pool 5d6)
                    </em>
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">STR</span>{{ character.attributes.STR }} 4 (2d6) <span
                        style="font-weight: bold;">AGI</span>{{ character.attributes.AGI }} 7 (3d6) <span
                        style="font-weight: bold;">END</span>{{ character.attributes.END }} 7 (3d6)
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">INT</span>{{ character.attributes.END }} 8 (3d6) <span
                        style="font-weight: bold;">LOG</span>{{ character.attributes.LOG }} 3 (2d6)<span
                        style="font-weight: bold;"> WIL</span>{{ character.attributes.WIL }} 7 (3d6) <span
                        style="font-weight: bold;">CHA</span>{{ character.attributes.CHA }} 3 (2d6) <span
                        style="font-weight: bold;">LUC</span>{{ character.attributes.LUC }} 5 (2d6) <span
                        style="font-weight: bold;">REP</span>{{ character.attributes.REP }} 4 (2d6)
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd"><span
                        style="font-weight: bold;">HEALTH</span> {{ character.derived.health }} <br
                       >
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">MELEE DEFENSE</span>  {{ character.derived.meleeDefense }}  22;
                    <span style="font-weight: bold;">RANGED DEFENSE</span>  {{ character.derived.rangedDefense }} 15;
                    <span style="font-weight: bold;">MENTAL DEFENSE</span>  {{ character.derived.mentalDefense }}  11
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">SOAK</span>  {{ character.derived.soak}}  5 (studded leather);
                    <span style="font-weight: bold;">VULN</span>   {{ character.derived.vuln }} -
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">INITIATIVE</span> {{ character.derived.initiative }} 3d6
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">PERCEPTION</span>  {{ character.derived.initiative }}  3d6
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left"><span
                        style="font-weight: bold;">SPEED</span>  {{ character.derived.speed }} 4; <span
                        style="font-weight: bold;">CLIMB</span> {{ character.derived.climb }} ; <span
                        style="font-weight: bold;">JUMP</span> {{ character.derived.jump }}  14'/4'
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">CARRY</span>  {{ character.derived.carry}}  110lb
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">ACTIONS</span>  {{ character.derived.actions }}
                    2
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold;">NATURAL DAMAGE</span>  {{ character.derived.naturalDamage }} 1d6+2
                </td>
            </tr>
            <tr ng-repeat="w in character.weapons">
                <td colspan="17" height="17" align="left" bgcolor="#dddddd">
                    <span style="font-weight: bold; font-style: italic;"> {{ w.name }}</span>
                    {{ w.damage }}
                    5d6 (1d6+2 slashing damage)
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">Skills</span>
                    <span ng-repeat="s for character.skills" style="font-style: italic;">
                        <em>{{ skill.name }}</em> ( {{ skill.dice }} ),
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left">
                    <span style="font-weight: bold;">Gear</span>
                    {{ character.printEquipment() }}
                </td>
            </tr>
            <tr>
                <td colspan="17" height="17" align="left" >
                    <span style="font-weight: bold;">EXPLOITS</span><br/>
                    <span ng-repeat="e in character.exploits">
                        <strong>{{ e.Exploit }}.</strong> {{ e.Benefits }}<br/>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
       
        <div class="well">
            <p>{{ character.description }}</p>
            <p>{{ character.printCareers() }}. <strong>Age {{ character.age }}</strong></p>
        </div>
    </div>

</div>
