<h2>Chi</h2>
<p class="explainer">
    Chi does chi things.
<h3>Your Chi</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Rank</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="5" class="text-center">No chi selected.</td>
    </tr>
    </tbody>
    <tbody ng-repeat="(chi, chiData) in character.Chi" ng-if="chiData.length > 0">
    <tr><td colspan="5" class="text-center"><strong>{{chi}}</strong></td></tr>
    <tr ng-repeat="c in chiData">
        <td><button type="button" class="btn btn-primary"
                    ng-disabled="$index !== character.Chi[chi].length-1"
                    ng-click="unselectChi(chi, c)">Remove</button></td>
        <td>{{c.Name}}</td>
        <td>{{c.Rank}}</td>
        <td>{{c.Description}}</td>
    </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
    <tr colspan="5">
        <th></th>
        <th>Name</th>
        <th>Rank</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody ng-repeat="(chi, chiData) in groupedChi">
    <tr><td colspan="5" class="text-center"><strong>{{chi}}</strong></td></tr>
    <tr ng-repeat="c in chiData">
        <td><button type="button" class="btn btn-primary"
                    ng-disabled="$index !== character.Chi[chi].length || currentChi === maxChi"
                    ng-click="selectChi(chi, c)">Choose</button></td>
        <td>{{c.Name}}</td>
        <td>{{c.Rank}}</td>
        <td>{{c.Description}}</td>
    </tr>
    </tbody>
</table>
