<h2>Equipment - Armor
</h2>
<p class="explainer">
   Choose your armor
</p>

<h3>Your Armor</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Count</th>
        <th>Category</th>
        <th>SOAK</th>
        <th>DEFENSE</th>
        <th>Cost</th>
        <th>Type</th>
        <th>Weight</th>
        <th>Vulnerable</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in character.equipment[KEY]">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name, 1, true)">-</button></td>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
        <td>{{armorHash[name].Category}}</td>
        <td>{{armorHash[name].SOAK}}</td>
        <td>{{armorHash[name].DEFENSE}}</td>
        <td>{{armorHash[name].Cost}} gp</td>
        <td>{{armorHash[name].Type}} </td>
        <td>{{armorHash[name].Weight}} lbs</td>
        <td>{{armorHash[name].Vulnerable}}</td>
    </tr>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>SOAK</th>
        <th>DEFENSE</th>
        <th>Cost</th>
        <th>Type</th>
        <th>Weight</th>
        <th>Vulnerable</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in armor">
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(KEY, item.Armor, 1, true)">+</button></td>
        <td>{{item.Armor}}</td>
        <td>{{item.Category}}</td>
        <td>{{item.SOAK}}</td>
        <td>{{item.DEFENSE}}</td>
        <td>{{item.Cost}} gp</td>
        <td>{{item.Type}} </td>
        <td>{{item.Weight}} lbs</td>
        <td>{{item.Vulnerable}}</td>
    </tr>
    </tbody>
</table>