<h2>Equipment - Gear
</h2>
<p class="explainer">
    Choose your gear
</p>

<h3>Your Gear</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Cost</th>
        <th>Weight</th>
        <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(name, count) in character.equipment[KEY]">
        <td><button type="button" class="btn btn-primary" ng-click="decrementItem(KEY, name, 1, true)">-</button></td>
        <td>{{count}}</td>
        <td>{{name}}</td>
        <td>{{gearHash[name].Cost}} gp</td>
        <td>{{gearHash[name].Weight}} lbs</td>
        <td>{{gearHash[name].Availability}}</td>
    </tr>
    <tr ng-if="isEmpty(KEY)">
        <td colspan="6" class="text-center">No gear selected</td>
    </tr>
    </tbody>
</table>

<h3>Choose Gear</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Cost</th>
        <th>Weight</th>
        <th>Availability</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in gear">
        <td><button type="button" class="btn btn-primary" ng-click="incrementItem(KEY, item.Item, 1, true)">+</button></td>
        <td>{{item.Item}}</td>
        <td>{{item.Cost}} gp</td>
        <td>{{item.Weight}} lbs</td>
        <td>{{item.Availability}}</td>
    </tr>
    </tbody>
</table>
