<h2>Equipment - Mounts
</h2>
<p class="explainer">
    Choose your mount
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Year</th>
        <th>Cost</th>
        <th>Adjusted Price</th>
        <th>Upgrades</th>
        <th>Occupants</th>
        <th>SPEED</th>
        <th>ACCEL</th>
        <th>HANDLING</th>
        <th>HEALTH</th>
        <th>SOAK</th>
        <th>DEFENSE</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in mounts">
        <td><input type="radio" ng-value="item" ng-model="character.equipment.mount"></td>
        <td>{{item.Automobile}}</td>
        <td>{{item.Year}}</td>
        <td>{{item.Cost}}</td>
        <td>{{item.AdjPrice}}</td>
        <td>{{item.Upgrades}} gp</td>
        <td>{{item.Occupants}} </td>
        <td>{{item.SPEED}} lbs</td>
        <td>{{item.ACCEL}}</td>
        <td>{{item.HANDLING}}</td>
        <td>{{item.HEALTH}}</td>
        <td>{{item.SOAK}}</td>
        <td>{{item.DEFENSE}}</td>
    </tr>
    </tbody>
</table>
