<h2>Homeworld
</h2>
<p class="explainer">
    It's a place of origin.
</p>
<h3>Your Homeworld</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Bonus Skill</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in homelands">
        <td><input type="radio" ng-value="item" ng-model="character.homeworld"></td>
        <td>{{item.Homeworld}}</td>
        <td ng-if="item.bonus_skill_options.length === 1">{{ item['Bonus Skill'] }}</td>
        <td ng-if="item.bonus_skill_options.length > 1">
            <select
                    ng-model="item.chosen_bonus_skill"
                    ng-options="choize for choize in item.bonus_skill_options">
            </select>
        </td>
    </tr>
    </tbody>
</table>
