<h2>Origin
</h2>
<p class="explainer">
    An origin story
</p>
<h3>
    Choose your Origin
</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Prerequisites</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Description</th>
        <th>Exploits</th>
        <th>Years</th>
        <th>Source</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in origins">
        <td><input type="radio" ng-value="item" ng-model="character.origin" ng-change="character.calculateMinimumAge()"></td>
        <td>{{ item.Origin }}</td>
        <td>{{ item.Prerequisites }}</td>
        <td>{{ printAttributes(item.Attributes) }}</td>
        <td>{{ item['Skill Choices'] }}</td>
        <td>{{ item.Description }}</td>
        <td>{{ item.Exploits }}</td>
        <td>{{ item.Years}}</td>
        <td>{{ item.Source}}</td>
    </tr>
    </tbody>
</table>
