<h2>Race</h2>
<p class="explainer">
  Racial Description text
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Select</th>
        <th>Race</th>
        <th>Size</th>
        <th>Attributes</th>
        <th>Skill Choices</th>
        <th>Exploits</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="r in races">
        <td><input type="radio" ng-model="character.race" ng-value="r" ng-change="changeRace()"></td>
        <td ng-bind="r.Race"></td>
        <td ng-bind="r.Size"></td>
        <td ng-bind="printAttributes(r.Attributes)"></td>
        <td ng-bind="r['Skill Choices']"></td>
        <td ng-bind="r.Exploits"></td>
    </tr>
    </tbody>
</table>
